In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import seaborn as sns
import matplotlib.pyplot as plt

df1 = pd.read_csv("CRMLSSold202401_filled.csv")
print(df1.head())

           Flooring ViewYN WaterfrontYN BasementYN PoolPrivateYN  \
0  Carpet,Tile,Wood   True          NaN        NaN         False
1               NaN    NaN          NaN        NaN           NaN
2               NaN   True          NaN        NaN           NaN
3               NaN   True          NaN        NaN           NaN
4               NaN   True          NaN        NaN           NaN

   OriginalListPrice  ListingKey              ListAgentEmail   CloseDate  \
0           499000.0   551985747       jwachter@cbnorcal.com  2024-01-26
1                0.0   535486633  eabrown@lee-associates.com  2024-01-24
2            75000.0   529986282             Joe@9WINWIN.com  2024-01-16
3           199000.0   529618166    carolthefinder@yahoo.com  2024-01-08
4            19500.0   522614340      jtavisola@tavisola.com  2024-01-17

   ClosePrice  ... MainLevelBedrooms NewConstructionYN  GarageSpaces  \
0    240000.0  ...               NaN             False           1.0
1       950.0  ...               NaN               NaN           NaN
2     45000.0  ...               NaN             False           NaN
3    141500.0  ...               NaN             False           NaN
4     15000.0  ...               NaN             False           NaN

   HighSchoolDistrict PostalCode AssociationFee  LotSizeSquareFeet  \
0               Other      94401         6472.0                NaN
1                 NaN      92394            NaN            52320.0
2                 NaN      93240            NaN           217364.0
3                 NaN      92308            NaN           217800.0
4                 NaN      93544            0.0           108883.0

   MiddleOrJuniorSchoolDistrict  latfilled lonfilled
0                           NaN       True      True
1                           NaN      False     False
2                           NaN      False     False
3                           NaN      False     False
4                           NaN      False     False

[5 rows x 80 columns]

In [12]:
missing_values = df1.isnull().sum()
print("Missing values:\n", missing_values[missing_values > 0])

Missing values:
 Flooring                         7854
ViewYN                           1760
WaterfrontYN                    17948
BasementYN                      17693
PoolPrivateYN                    2511
                                ...
HighSchoolDistrict               6123
PostalCode                         12
AssociationFee                   5683
LotSizeSquareFeet                1812
MiddleOrJuniorSchoolDistrict    17958
Length: 67, dtype: int64

In [14]:
# Drop columns with all missing values
data = df1.dropna(axis=1, how='all')

In [16]:
# Separate the target variable ('ClosePrice') and features
X_df1 = data.drop(columns=['ClosePrice'])  # Assuming 'ClosePrice' is the target
y_df1 = data['ClosePrice']
# Identify numerical and categorical features
num_features_df1 = X_df1.select_dtypes(include=['int64', 'float64']).columns
cat_features_df1 = X_df1.select_dtypes(include=['object', 'bool']).columns
num_features_df1, cat_features_df1

(Index(['OriginalListPrice', 'ListingKey', 'Latitude', 'Longitude',
        'LivingArea', 'ListPrice', 'DaysOnMarket', 'ListingKeyNumeric',
        'TaxAnnualAmount', 'ParkingTotal', 'LotSizeAcres', 'YearBuilt',
        'StreetNumberNumeric', 'BathroomsTotalInteger',
        'BuyerAgencyCompensation', 'TaxYear', 'BuildingAreaTotal',
        'BedroomsTotal', 'BelowGradeFinishedArea', 'Stories', 'LotSizeArea',
        'MainLevelBedrooms', 'GarageSpaces', 'AssociationFee',
        'LotSizeSquareFeet'],
       dtype='object'),
 Index(['Flooring', 'ViewYN', 'WaterfrontYN', 'BasementYN', 'PoolPrivateYN',
        'ListAgentEmail', 'CloseDate', 'ListAgentFirstName',
        'ListAgentLastName', 'UnparsedAddress', 'PropertyType',
        'ListOfficeName', 'BuyerOfficeName', 'CoListOfficeName',
        'ListAgentFullName', 'CoListAgentFirstName', 'CoListAgentLastName',
        'BuyerAgentMlsId', 'BuyerAgentFirstName', 'BuyerAgentLastName',
        'AssociationFeeFrequency', 'MLSAreaMajor', 'CountyOrParish',
        'MlsStatus', 'ElementarySchool', 'AttachedGarageYN', 'BuilderName',
        'PropertySubType', 'SubdivisionName', 'BuyerOfficeAOR',
        'BuyerAgencyCompensationType', 'ListingId', 'City',
        'ContractStatusChangeDate', 'CoBuyerAgentFirstName',
        'PurchaseContractDate', 'ListingContractDate', 'BusinessType',
        'StateOrProvince', 'MiddleOrJuniorSchool', 'FireplaceYN', 'HighSchool',
        'Levels', 'LotSizeDimensions', 'NewConstructionYN',
        'HighSchoolDistrict', 'PostalCode', 'latfilled', 'lonfilled'],
       dtype='object'))

In [18]:
from sklearn.model_selection import train_test_split
X_train_df1, X_test_df1, y_train_df1, y_test_df1 = train_test_split(X_df1, y_df1, test_size=0.2, random_state=42)

In [20]:
df2 = pd.read_csv("CRMLSSold202402_filled.csv")

In [38]:
missing_values_df2 = df2.isnull().sum()
print("Missing values:\n", missing_values_df2[missing_values_df2 > 0])

Missing values:
 Flooring                         8567
ViewYN                           1925
WaterfrontYN                    19910
BasementYN                      19630
PoolPrivateYN                    2833
                                ...
HighSchoolDistrict               6860
PostalCode                          8
AssociationFee                   6124
LotSizeSquareFeet                2122
MiddleOrJuniorSchoolDistrict    19925
Length: 66, dtype: int64

In [48]:
# Drop columns with all missing values
data_2 = df2.dropna(axis=1, how='all')

In [50]:
# Separate the target variable ('ClosePrice') and features
X_df2 = data_2.drop(columns=['ClosePrice'])
y_df2 = data_2['ClosePrice']

In [52]:
from sklearn.model_selection import train_test_split
X_train_df2, X_test_df2, y_train_df2, y_test_df2 = train_test_split(X_df2, y_df2, test_size=0.2, random_state=42)

In [60]:
df3 = pd.read_csv("CRMLSSold202403_filled.csv")
missing_values_df3 = df3.isnull().sum()
print("Missing values:\n", missing_values_df3[missing_values_df3 > 0])

Missing values:
 Flooring                         9806
ViewYN                           2207
WaterfrontYN                    23264
BasementYN                      22937
PoolPrivateYN                    3333
                                ...
HighSchoolDistrict               7589
PostalCode                          6
AssociationFee                   7171
LotSizeSquareFeet                2394
MiddleOrJuniorSchoolDistrict    23276
Length: 66, dtype: int64

In [62]:
data_3 = df3.dropna(axis=1, how='all')

In [78]:
X_df3 = data_3.drop(columns=['ClosePrice'])
y_df3 = data_3['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df3, X_test_df3, y_train_df3, y_test_df3 = train_test_split(X_df3, y_df3, test_size=0.2, random_state=42)

In [66]:
df4 = pd.read_csv("CRMLSSold202404_filled.csv")
missing_values_df4 = df4.isnull().sum()
print("Missing values:\n", missing_values_df4[missing_values_df4 > 0])

Missing values:
 Flooring                        10198
ViewYN                           2363
WaterfrontYN                    24624
BasementYN                      24246
PoolPrivateYN                    3653
                                ...
HighSchoolDistrict               7920
PostalCode                          2
AssociationFee                   7471
LotSizeSquareFeet                2451
MiddleOrJuniorSchoolDistrict    24640
Length: 66, dtype: int64

/var/folders/h5/g84z18_5129d8mxkcdyvhvyr0000gn/T/ipykernel_23852/1749222433.py:1: DtypeWarning: Columns (2,36,39,56,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df4 = pd.read_csv("CRMLSSold202404_filled.csv")

In [68]:
data_4 = df4.dropna(axis=1, how='all')

In [76]:
X_df4 = data_4.drop(columns=['ClosePrice'])
y_df4 = data_4['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df4, X_test_df4, y_train_df4, y_test_df4 = train_test_split(X_df4, y_df4, test_size=0.2, random_state=42)

In [80]:
df5 = pd.read_csv("CRMLSSold202405_filled.csv")
missing_values_df5 = df5.isnull().sum()
print("Missing values:\n", missing_values_df5[missing_values_df5 > 0])

Missing values:
 BuyerAgentAOR                      14
ListAgentAOR                       14
Flooring                        10691
ViewYN                           2661
WaterfrontYN                    26478
                                ...
HighSchoolDistrict               8563
PostalCode                         16
AssociationFee                   8386
LotSizeSquareFeet                2752
MiddleOrJuniorSchoolDistrict    26487
Length: 66, dtype: int64

In [82]:
data_5 = df5.dropna(axis=1, how='all')

In [88]:
X_df5 = data_5.drop(columns=['ClosePrice'])
y_df5 = data_5['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df5, X_test_df5, y_train_df5, y_test_df5 = train_test_split(X_df5, y_df5, test_size=0.2, random_state=42)

In [90]:
df6 = pd.read_csv("CRMLSSold202406_filled.csv")
missing_values_df6 = df6.isnull().sum()
print("Missing values:\n", missing_values_df6[missing_values_df6 > 0])

Missing values:
 BuyerAgentAOR                       7
ListAgentAOR                        7
Flooring                         9785
ViewYN                           2430
WaterfrontYN                    24315
                                ...
HighSchoolDistrict               7785
PostalCode                          5
AssociationFee                   7840
LotSizeSquareFeet                2562
MiddleOrJuniorSchoolDistrict    24328
Length: 67, dtype: int64

In [110]:
data_6 = df6.dropna(axis=1, how='all')
X_df6 = data_6.drop(columns=['ClosePrice'])
y_df6 = data_6['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df6, X_test_df6, y_train_df6, y_test_df6 = train_test_split(X_df6, y_df6, test_size=0.2, random_state=42)

In [104]:
df7 = pd.read_csv("CRMLSSold202407_filled.csv")
missing_values_df7 = df7.isnull().sum()
print("Missing values:\n", missing_values_df7[missing_values_df7 > 0])

Missing values:
 BuyerAgentAOR                      10
ListAgentAOR                       10
Flooring                        10525
ViewYN                           2548
WaterfrontYN                    26223
                                ...
HighSchoolDistrict               8367
PostalCode                          7
AssociationFee                   8441
LotSizeSquareFeet                2690
MiddleOrJuniorSchoolDistrict    26240
Length: 66, dtype: int64

In [112]:
data_7 = df7.dropna(axis=1, how='all')
X_df7 = data_7.drop(columns=['ClosePrice'])
y_df7 = data_7['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df7, X_test_df7, y_train_df7, y_test_df7 = train_test_split(X_df7, y_df7, test_size=0.2, random_state=42)

In [94]:
df8 = pd.read_csv("CRMLSSold202408.csv")
missing_values_df8 = df8.isnull().sum()
print("Missing values:\n", missing_values_df8[missing_values_df8 > 0])

Missing values:
 BuyerAgentAOR                      12
ListAgentAOR                       12
Flooring                         9782
ViewYN                           2520
WaterfrontYN                    24550
                                ...
HighSchoolDistrict               7965
PostalCode                         11
AssociationFee                   7854
LotSizeSquareFeet                2545
MiddleOrJuniorSchoolDistrict    24558
Length: 66, dtype: int64

In [124]:
data_8 = df8.dropna(axis=1, how='all')
X_df8 = data_8.drop(columns=['ClosePrice'])
y_df8 = data_8['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df8, X_test_df8, y_train_df8, y_test_df8 = train_test_split(X_df8, y_df8, test_size=0.2, random_state=42)

In [126]:
df9 = pd.read_csv("CRMLSSold202409.csv")
missing_values_df9 = df9.isnull().sum()
print("Missing values:\n", missing_values_df9[missing_values_df9 > 0])

Missing values:
 BuyerAgentAOR                       7
ListAgentAOR                        7
Flooring                         8708
ViewYN                           2218
WaterfrontYN                    21260
                                ...
HighSchoolDistrict               6685
PostalCode                          4
AssociationFee                   6684
LotSizeSquareFeet                2078
MiddleOrJuniorSchoolDistrict    21267
Length: 66, dtype: int64

In [128]:
data_9 = df9.dropna(axis=1, how='all')
X_df9 = data_9.drop(columns=['ClosePrice'])
y_df9 = data_9['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df9, X_test_df9, y_train_df9, y_test_df9 = train_test_split(X_df9, y_df9, test_size=0.2, random_state=42)

In [98]:
df10 = pd.read_csv("CRMLSSold20220101_20231231_filled.csv")
missing_values_df10 = df10.isnull().sum()
print("Missing values:\n", missing_values_df10[missing_values_df10 > 0])

Missing values:
 Flooring                        1472
ViewYN                           468
WaterfrontYN                    2931
BasementYN                      2901
PoolPrivateYN                    617
                                ...
AssociationFee                   682
LotSizeSquareFeet                263
MiddleOrJuniorSchoolDistrict    2936
latfilled                          1
lonfilled                          1
Length: 79, dtype: int64

In [134]:
data_10 = df10.dropna(axis=1, how='all')
X_df10 = data_10.drop(columns=['ClosePrice'])
y_df10 = data_10['ClosePrice']
from sklearn.model_selection import train_test_split
X_train_df10, X_test_df10, y_train_df10, y_test_df10 = train_test_split(X_df10, y_df10, test_size=0.2, random_state=42)